<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Audio for Tesla</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Tesla-style Audio Player</h1>

        <form method="POST">
            <input type="text" name="search_query" placeholder="Search for YouTube videos" required>
            <div class="filter-container">
                <label for="sortOrder" class="filter-label">Sort by:</label>
                <div class="custom-select-wrapper">
                    <select id="sortOrder" name="sort_order" class="custom-select">
                        <option value="date">Newest</option>
                        <option value="viewCount">Most Watched</option>
                        <option value="relevance" selected>Relevance</option>
                    </select>
                </div>
            </div>
            <button type="submit">Search</button>
        </form>
        
        <div class="audio-player-container">
            <div class="player-status">
                <div class="status-icon"></div>
                <span id="player-status-text"></span>
                <span id="currentSongTitle" style="display: none;"></span>
            </div>
            <audio id="audioPlayer" controls style="width: 100%; margin-top: 20px;">
                <source id="audioSource" src="" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <div id="progressBar">
                <div id="progress"></div>
            </div>
            <div class="custom-audio-controls">
                <button id="prevBtn">⏮</button>
                <button id="playPauseBtn">▶</button>
                <button id="nextBtn">⏭</button>
            </div>
        </div>
        <br/>
        {% if videos %}
            <div class="video-grid">
                {% for video in videos %}
                    <div class="video-item" id="video-{{ video.id }}">
                        <img src="{{ video.thumbnail }}" alt="{{ video.title }}">
                        <h3>{{ video.title }}</h3>
                        <button onclick="selectAndPlayVideo('{{ video.id }}')">Play</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div id="status"></div>
        <div style="text-align: center; margin-top: 20px;">
            <a href="https://ko-fi.com/en0o0n" target="_blank">
              <img src="https://cdn.ko-fi.com/cdn/kofi2.png?v=3" alt="Buy Me a Coffee" style="height: 50px;">
            </a>
        </div>
        <h4>Version 2.0</h4>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
